<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/burger-nav.css">
    <link rel="stylesheet" href="/css/profile.css">

</head>
<body>
    <div class="common-main">
        <%- include('partials/burger-nav') %>
        <div id="profile-form">
            <div class="profile-top">
                <h1>My Informations</h1></br>
                <p class="profile-username">Username: <%= username %></p>
                <form action="/change-password" method="get">
                    <a href="/change-password" class="profile-link">Change Password</a>
                </form>
            </br><h1>My Posts</h1>
                <% if (myPosts.length > 0) { %>
                    <ul>
                    <% myPosts.forEach(myPost => { %>
                        <li><a href="/poster?post=<%= myPost._id %>"><%= myPost.title %></a></li>
                    <% }) %>
                    </ul>
                <% } else { %>
                    <p>Brak postów do wyświetlenia.</p>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>
