<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/severity.css">
  <link rel="stylesheet" href="/css/burger-nav.css">
  <script src="/js/edit.js" defer></script> 
<body>
  <div class="common-main">
    <div id="result-nav">
        <%- include('partials/burger-nav') %>
    </div>
    <div id="result-table">
      <h2>Scan Results: <%= imageName %></h2>
      <% if (vulnerabilities.length > 0) { %>
        <table>
          <thead>
            <tr>
              <th>NAME</th>
              <th>INSTALLED</th>
              <th>FIXED-IN</th>
              <th>TYPE</th>
              <th>VULNERABILITY</th>
              <th>SEVERITY</th>
            </tr>
          </thead>
          <tbody>
            <% vulnerabilities.forEach(vuln => { %>
              <tr data-id="<%= vuln.id %>">
                <td><%= vuln.name %></td>
                <td><%= vuln.installed %></td>
                <td><%= vuln.fixedIn %></td>
                <td><%= vuln.type %></td>
                <td><%= vuln.vulnerability %></td>
                <td class="severity-cell" data-id="<%= vuln.vulnerability %>">
                  <span class="severity-text"><%= vuln.severity %></span>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <p>Select scan to see results</p>
      <% } %>
    </div>
    <div class="scan-list">
      <h1>Scans</h1>
      <% if (myscan.length > 0) { %>
            <% myscan.forEach(scan => { %>
                <a href="/scan-results/<%= scan.fileName %>"><%= scan.fileName %></a>
            <% }) %>
      <% } else { %>
        <p>No scans found.</p>
      <% } %>
    </div>
  </div>
</body>
</html>